body {
font-family:"Lora",serif;
font-weight:400;
background-image:url("/images/bg.jpg");
background-attachment:fixed;
margin:0;
padding:16px;
}

h1 {
font-weight:400;
font-size:1.6em;
text-align:center;
}

h2 {
font-weight:400;
font-size:1.4em;
text-align:left;
}

h3 {
font-weight:400;
font-size:1.2em;
text-align:left;
}

#header {
font-size:2em;
text-align:center;
}

#nav {
font-family:"Open Sans",sans-serif;
font-weight:400;
font-size:.8em;
padding:0;
border:0;
margin:1em 2em 1em 2em;
}

#nav ul
{
list-style-type:none;
margin:0;
border:0;
padding:0;
overflow:hidden;
}

#nav li
{
float:left;
}

#nav a:link, #nav a:visited
{
display:block;
width:auto;
color:#fff;
background-color:#666;
text-align:center;
padding:.2em 1em .2em 1em;
margin:0 1px 0 1px;
border:1px solid #333;
text-decoration:none;
}

#nav a:hover, #nav a:active
{
color:#000;
background-color:#ccc;
}

#main {
color:#000;
background-image:url("/images/bg-content.jpg");
background-attachment:fixed;
box-shadow:0 0 10px #666;
width:auto;
max-width:720px;
margin:0 auto 0 auto;
border:1px solid #333;
padding:2em;
}

#content {
clear:both;
}

#footer {
clear:both;
font-size:.8em;
color:#666;
background-color:#ccc;
border:1px solid #999;
margin:0;
padding:.2em 2em .2em 2em;
}

.post_date
{
color:#666;
}

.post_preview
{
color:#666;
font-size:.8em;
}

.feed {
font-size:.8em;
}

@media only screen and (max-width: 512px), only screen and (max-device-width: 512px) {

body {
padding:0;
}

#nav {
margin:0 0 0 1em;
}

#main {
width:auto;
border:0;
}

}
